# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
max_line_length = 110

# Matches multiple files with brace expansion notation
# Set default charset
[*.{js,py}]
charset = utf-8

# 3 space indentation
[*.{js,jsx}]
indent_style = space
indent_size = 2

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4
# for isort
force_alphabetical_sort_within_sections = true
lines_between_types = 1
lines_after_imports = 2
add_imports = from __future__ import unicode_literals
known_third_party = cs, gaetk, google, huTools, wtforms_appengine, lxml, cloudstorage
known_first_party = gaetk2
virtual_env = .

[*.js]
indent_style = space
indent_size = 2
