beautifulsoup4==4.0.*  # needed by webtest
bumpversion
commonmark==0.5.4  # needed by Sphinx
coverage
diff_cover==1.0.6
doit<0.30
flake8
flake8-comprehensions==1.4.1
flake8-docstrings==1.3.0
flake8-tuple==0.2.13
glob2==0.6
isort
lxml==4.3.0
nose==1.3.7
NoseGAE==0.5.10
pathlib2==2.2.0 # for pipenv 11.10.1 and pytest_cov
Pillow==3.0  # PIL / Images. needed for icon generation
# prospector
pylint
pytest
pytest-cov
pytest-xdist
pytz
PyYAML==4.2b1
recommonmark==0.4.0  # needed by Sphinx
rope
Sphinx==1.7.4
sphinx_rtd_theme==0.3.1  # needed by Sphinx
typing==3.6.4
WebTest==2.0.29
yapf==0.24.0
