{% set title = " Administration" %}
{% extends "base_admin3.html" %}

{% macro display_id(obj) %}
{% if obj.key is callable %}{{ obj.key().id_or_name()|e }}{% else %}{{ obj.key.id()|e }}{% endif %}
{% endmacro %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/admin2/">Administration</a></li>
  <li><a href="/admin2/q/{{ admin_class.kind }}/">{{ admin_class.kind }}</a></li>
  <li class="active">{% if obj is defined %}{{ display_id(obj)|e }}{% else %}Neu{% endif %}</li>
</ol>
{% endblock %}

{% block maincontent %}
  <div>
    {% if obj.url %}
      <a href="{{ obj.url }}"</a>
      {% if obj.nicename %}
        {{ obj.nicename }}
      {% else %}
        {% if obj.name %}
          {{ obj.name }}
        {% else %}
          {{ obj.key.id() }}
        {% endif %}
      {% endif %}
    </a>
    {% endif %}
  </div>

  <dl class="dl-horizontal">
    {% for field in admin_class.detail_fields %}
      <dt>{{ field }}</dt>
      <dd>{{ obj[field] }}</dd>
    {% endfor %}
  </dl>

  <p>{{ obj|datastore }}</p>

  <pre>
    {{ obj }}
  </pre>
{% endblock %}
