{% set title = admin_class.kind + " Administration" %}
{% extends "base_admin3.html" %}

{% macro display_key(obj) %}
{% if obj.key is callable %}{{ obj.key()|e }}{% else %}{{ obj.key.urlsafe()|e }}{% endif %}
{% endmacro %}

{% macro display_id(obj) %}
{% if obj.key is callable %}{{ obj.key().id_or_name()|e }}{% else %}{{ obj.key.id()|e }}{% endif %}
{% endmacro %}

{% block breadcrumbs %}
<ol class="breadcrumb">
  <li><a href="/admin2/">Administration</a></li>
  <li class="active">{{ admin_class.kind }}</li>
</ol>
{% endblock %}

{% block maincontent %}

<form class="form-inline" method="GET" action="search/">
  <div class="row">
    <div class="col-md-12">
      <div class="btn-group" role="group">
        {% if not admin_class.read_only %}
          <a href="add/" type="button" class="btn btn-default">Neu</a>
        {% endif %}
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Export <span class="caret"></span></button>
        <ul class="dropdown-menu">
          <li><a href="export_xls/">XLS</a></li>
          <li><a href="export_csv/">CSV</a></li>
        </ul>
      </div>
      <ul class="nav nav-pills pull-right">
        {% for q in admin_class.queries.keys() %}
          {% if q %}
            <li {% if qtype == q %}class="active"{% endif %}><a href="?qtype={{q|urlencode}}">{{q}}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="form-group form-group-sm">&nbsp;</div>

  <!--
  <div class="form-group form-group-sm">
    <label class="control-label" for="q">Suche</label>
    <input type="search" class="form-control input-sm" id="q" placeholder="Suchbegriffe" {% if term is defined %}value="{{ term }}"{% endif %}>
  </div>
-->
</form>

<p>&nbsp;</p>

  <div class="form-group form-group-sm">
  <table class="table table-bordered table-condensed table-striped">
    <thead>
      <tr>
        <th>Key/ID</th>
        {% for field in admin_class.list_fields %}
        {# This is a little bit hackish. Django now uses a class ChangeList to display this table #}
        <th>{% if field in model_class._properties %}<a href="?ot=asc&amp;o={{ field }}">{{ field|title }}</a>{% else %}{{ field|title }}{% endif %}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for obj in object_list %}
      <tr>
        <td>
          {% if not read_only %}
            <a href="/admin2/e/{{ admin_class.kind }}/{{ display_key(obj) }}/">{{ display_id(obj)|e }}</a>
          {% else %}
            {{ display_id(obj)|e }}
          {%- endif %}
        </td>
        {% for field in admin_class.list_fields %}<td>{{ obj|attr(field)|e }}</td>{% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

<nav>
  <ul class="pager">
    <li class="previous {% if not prev_objects %}disabled{% endif %}"><a href="?{{ prev_qs }}"><span aria-hidden="true">&larr;</span> Zurück</a></li>
    <li class="next {% if not more_objects %}disabled{% endif %}"><a href="?{{ next_qs }}">Vor <span aria-hidden="true">&rarr;</span></a></li>
  </ul>
</nav>
{% endblock %}
{% block secondarycontent %}
{% endblock %}
